body {
    background: linear-gradient(to right, rgb(111, 203, 237), #8ed8b1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main {
    width: 250px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px; 

}

input {
    width: 200px;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    border: 1px solid #543939;
    border-radius: 5px;
}

