*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
display:flex;
justify-content: center;
align-items: center;
background-color: grey(212, 45%, 89%);
height: 100vh;


}

.container{
    background-color: white;
    padding: 10px;
}

.img-container{
    border-radius: 15px;
}
