body {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  align-items: center;
  font-family: "Outfit", serif;
  justify-content: center;
  height: 100vh;
}

.card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 10px 40px hsl(220, 15%, 55%);
  padding: 4%;
  text-align: center;
  width: 375px;
}

img {
  border-radius: 15px;
  height: 375px;
  width: 375px;
}

h1 {
  color: hsl(218, 44%, 22%);
}

p {
  color: hsl(220, 15%, 55%);
  font-size: 15px;
  padding: 15px;
}